<img id="photo" src="/assets/me.jpg" alt="Me" width="200" height="200">
<div layout inline vertical>
  <h1>Álan Crístoffer e Sousa</h1>
  <span layout inline horizontal>
    <span class="emails">
      <a href="mailto:acristoffers@gmail.com">acristoffers@gmail.com</a>
      <a href="https://acristoffers.me/public/PublicKey.asc">{{ 'gpg_public_key' | translate }}</a>
      <span class="social">
        <a href="https://facebook.com/acristoffers" target="_blank">
          <img class="profile-icon" src="/assets/fb.jpg" alt="Fb" width="24" height="24">
        </a>
        <a href="https://plus.google.com/+AlanCristoffer" target="_blank">
          <img class="profile-icon" src="/assets/gplus.jpg" alt="Gplus" width="24" height="24">
        </a>
        <a href="https://twitter.com/acristoffers" target="_blank">
          <img class="profile-icon" src="/assets/twitter.jpg" alt="Twitter" width="24" height="24">
        </a>
        <a href="https://github.com/acristoffers" target="_blank">
          <img class="profile-icon" src="/assets/github.jpg" alt="Github" width="24" height="24">
        </a>
        <a href="https://linkedin.com/in/acristoffers" target="_blank">
          <img class="profile-icon" src="/assets/linkedin.jpg" alt="Linkedin" width="24" height="24">
        </a>
        <a href="http://lattes.cnpq.br/0846174549224433" target="_blank">
          <img class="profile-icon" src="/assets/lattes.jpg" alt="Lattes" width="24" height="24">
        </a>
      </span>
      <span>
        <a href="/assets/Python3.pdf" target="_blank">Apostila de Python 3</a>
      </span>
    </span>
    <span class="languages">
      <strong>{{ 'i_can_speak' | translate }}</strong>
      <br> {{ 'pt' | translate }} ({{ 'native' | translate }})
      <br> {{ 'en' | translate }} (C2)
      <br> {{ 'de' | translate }} (C1)
      <br> {{ 'fr' | translate }} (B1) </span>
  </span>
</div>
<div id="about-text">
  {{ 'about_me' | translate }}
</div>
