@media only screen and (min-device-width: 800px) {
  img {
    vertical-align: top;
    margin-right: 1rem;
  }
  #about-text {
    margin: 5rem auto;
    width: 700px;
    font: normal 1.5rem/1.5em Sans-serif;
  }
}

@media only screen and (max-device-width: 800px) {
  :host {
    display: block;
    text-align: center;
  }
  h1 {
    line-height: 2rem;
  }
  #about-text {
    margin: 5rem auto;
    font: normal 1.5rem/1.5em Sans-serif;
  }
}

.emails {
  margin: 1rem 0;
  line-height: 2rem;
  a {
    display: block;
  }
}

.social a {
  display: inline-block;
}

.languages {
  margin-top: 1rem;
  margin-left: 5rem;
}
