@media only screen and (min-device-width: 800px) {
  .application {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .icon {
    width: 128px;
    height: 128px;
    vertical-align: middle;
  }
  .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 5rem;
  }
  .screenshot {
    width: 480px;
    height: auto;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  .screenshot-text {
    width: 415px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-device-width: 800px) {
  .application {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .icon {
    width: 64px;
    height: 64px;
    vertical-align: middle;
  }
  .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 8vw;
  }
  .screenshot {
    width: 90vw;
    height: auto;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  .screenshot-text {
    width: 90vw;
    display: inline-block;
    vertical-align: middle;
  }
  .and {
    display: block;
  }
}

.desc {
  margin: 1rem 0;
  font: normal 1.5rem/1.5em Sans-serif;
}

#testsdatabase {
  background-color: #DDD;
}
