<div id="lachesis" class="application">
  <div container>
    <a href="https://github.com/acristoffers/lachesis" target="_blank">
      <img class="icon" src="/assets/lachesis.svg" alt="Lachesis">
      <div class="title">Lachesis</div>
    </a>
    <div class="desc">
      <br>{{ 'lachesis_desc' | translate }}</div>
    <span class="screenshot-text">{{ 'lachesis1_desc' | translate }}</span>
    <img class="screenshot" src="/assets/screenshots/Lachesis1.png" alt="Lachesis 1">
    <img class="screenshot" src="/assets/screenshots/Lachesis2.png" alt="Lachesis 2">
    <span class="screenshot-text">{{ 'lachesis2_desc' | translate }}</span>
    <span class="screenshot-text">{{ 'lachesis3_desc' | translate }}</span>
    <img class="screenshot" src="/assets/screenshots/Lachesis3.png" alt="Lachesis 3">
    <img class="screenshot" src="/assets/screenshots/Lachesis4.png" alt="Lachesis 4">
    <span class="screenshot-text">{{ 'lachesis4_desc' | translate }}</span>
  </div>
</div>

<div id="moirai" class="application">
  <div container>
    <a href="https://github.com/acristoffers/moirai" target="_blank">
      <img class="icon" src="/assets/python-icon.png" alt="Python icon">
      <div class="title">Moirai</div>
    </a>
    <div class="desc">
      <br>{{ 'moirai_desc' | translate }}</div>
  </div>
</div>

<div id="ahio" class="application">
  <div container>
    <a href="https://github.com/acristoffers/ahio" target="_blank">
      <img class="icon" src="/assets/python-icon.png" alt="Python icon">
      <div class="title">ahio</div>
    </a>
    <div class="desc">
      <br>{{ 'ahio_desc' | translate }}</div>
  </div>
</div>

<div id="testsdatabase" class="application">
  <div container>
    <a href="https://github.com/acristoffers/TestsDatabase" target="_blank">
      <img class="icon" src="/assets/tests-database.png" alt="Tests database">
      <div class="title">TestsDatabase</div>
    </a>
    <div class="desc">
      <br>{{ 'tests_database_desc' | translate }}</div>
    <span class="screenshot-text">{{ 'tb_ss1_desc' | translate }}</span>
    <img class="screenshot" src="/assets/screenshots/TestsDatabase1.png" alt="Testsdatabase 1">
    <img class="screenshot" src="/assets/screenshots/TestsDatabase2.png" alt="Testsdatabase 2">
    <span class="screenshot-text">{{ 'tb_ss2_desc' | translate }}</span>
    <span class="screenshot-text">{{ 'tb_ss3_desc' | translate }}</span>
    <img class="screenshot" src="/assets/screenshots/TestsDatabase3.png" alt="Testsdatabase 3">
  </div>
</div>

<div id="tracker" class="application">
  <div container>
    <a href="https://github.com/acristoffers/tracker" target="_blank">
      <img class="icon" src="/assets/tracker.svg" alt="Tracker">
      <div class="title">Tracker</div>
    </a>
    <div class="desc">
      <br>{{ 'tracker_desc' | translate }}
    </div>
    <div class="imgs">
      <img class="screenshot" src="/assets/screenshots/Tracker1.png" alt="Tracker 1">
      <img class="screenshot" src="/assets/screenshots/Tracker2.png" alt="Tracker 2">
      <img class="screenshot" src="/assets/screenshots/Tracker3.png" alt="Tracker 3">
    </div>
  </div>
</div>

<div id="cef" class="application">
  <div container>
    <a href="https://github.com/acristoffers/CEFSimpleSample" target="_blank">
      <img class="icon" src="/assets/cef_logo.png" alt="Cef logo">
      <div class="title">CEFSimpleSample</div>
    </a>
    <span class="and">{{ 'and' | translate }}</span>
    <a href="https://github.com/acristoffers/CEF3SimpleSample" target="_blank">
      <img class="icon" src="/assets/cef_logo.png" alt="Cef logo">
      <div class="title">CEF3SimpleSample</div>
    </a>
    <div class="desc">
      <br>{{ 'cefss_desc' | translate }}
    </div>
  </div>
</div>
