@media only screen and (min-device-width: 800px) {
  #fields {
    display: inline-block;
    width: 300px;
    vertical-align: top;
  }
  #asm {
    display: inline-block;
    width: 300px;
    margin-left: 2rem;
    font: normal 1rem/1.5em monospace;
    font-weight: bold;
  }
}

@media only screen and (max-device-width: 800px) {
  #fields {
    display: block;
    width: 90vw;
  }
  #asm {
    display: block;
    width: 90vw;
    margin: 3rem 0;
    font: normal 1rem/1.5em monospace;
    font-weight: bold;
  }
}

[container] {
  padding-top: 5rem;
}

label.strong {
  display: block;
  font-weight: bold;
  margin-top: 2rem;
}

input[type=text],
input[type=number] {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid gray;
  font-size: 1.5rem;
  color: #333;
}

input[type=button] {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-bottom: 1rem;
}

input[type=button]:hover {
  text-decoration: underline;
}
