
@import "variables";

body.mobile {
    header {
        height: $header_height;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        
        nav {
            display: inline-block;
            margin: ($header_height - $text_size) / 2 1rem;
        }
        
        #links {
            display: flex;
            
            a {
                flex: 1;
                text-align: center;
            }
        }
        
        #languages {
            display: none;
        }
    }
    
    footer {
        #languages-mobile {
            img {
                height: 2rem;
                width: auto;
                margin-right: 5px;
            }
        }
    }
}
