/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../components
 */

$darkPrimaryColor:   #00796B;
$primaryColor:       #009688;
$lightPrimaryColor:  #B2DFDB;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #00BCD4;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;

a {
    color: inherit;
    text-decoration: none;
    
    ::visited {
        color: inherit;
        text-decoration: none;
    }
    
    ::hover {
        color: inherit;
        text-decoration: none;
    }
}

html, core-scaffold {
    font-family: 'Helvetica Neue', Helvetica, Arial;
}

core-toolbar {
    background: $primaryColor;
    color: $textPrimaryColor;
    
    #toolbar-brand {
        opacity: 0.0;
        transition: opacity 0.25s ease-in-out;
        pointer-events: none;
    }
}

core-toolbar.tall {
    #toolbar-brand {
        opacity: 1.0;
    }
}

core-header-panel {
    background: white;
    color: $primaryTextColor;
}

paper-tab::shadow #ink {
    color: $accentColor;   
}

paper-tabs::shadow #selectionBar {
    background-color: $accentColor;
}

paper-button {
    background: $accentColor;
    color: $textPrimaryColor;
    
    ::shadow #ripple {
        color: $accentColor;
    }
}

paper-input /deep/ {
    .label-text, .error {
        color: $accentColor;
    }

    #decorator[focused] .label-text {
        color: $accentColor;
    }

    .focused-underline {
        background-color: $accentColor;
    }

    color: $primaryTextColor;
}

* /deep/ paper-input-decorator[focuse]

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: none;
}

#languages-dropdown {
    height: auto !important;
}

body.desktop {
    #tabbar {
        width: 400px;
    }
}

body.mobile {
    #tabbar {
        width: 100%;
    }
    
    core-toolbar.tall {
        languages-menu {
            visibility: visible;
            opacity: 1.0;
            pointer-events: auto;
        }
    }
    
    core-toolbar {
        languages-menu {
            visibility: hidden;
            opacity: 0.0;
            transition: opacity 0.25s ease-in-out;
            pointer-events: none;
        }
    }
}

// BEGIN FIX core-icon-button in toolbar
core-icon-button {
  -moz-user-select: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 2px;
  padding: 7px;
  vertical-align: middle;
}
html core-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentcolor;
  height: 24px;
  position: relative;
  vertical-align: middle;
  width: 24px;
}
// END FIX core-icon-button in toolbar