// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width:  24px;
    height: 24px;
}

img.profile-icon {
    margin-top: 5px;
}

.application-card {
    width: 100%;
}

.application-card {
    a {
        text-align: left;
        
        img {
            vertical-align: middle;
        }
        
        .title, .desc {
            text-transform: none;
        }
        
        .title {
            font-weight: bold;
            font-size: 2em;
        }
    }
}

core-drawer-panel {
    .pad {
        padding: 10px;
    }
    
    paper-button, paper-input {
        width: 100%;
    }
}

body.desktop {
    #about-name {
        font-size: 3em;
    }
    
    #content {
        width: 800px;
        margin: 20px auto;
    }

    #beside-image {
        display: inline-block;
        vertical-align: top;
        height: 200px;
        padding: 10px;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .clear {
        clear: both;
    }

    #about .social {
        height: 140px;
    }

}

body.mobile {
    #about-name {
        font-size: 2em;
    }
    
    #content {
        padding: 10px;
        
        #about {
            padding: 10px;
            text-align: center;
            
            div, span {
                text-align: left;
            }
        
            #photo {
                margin: auto;
            }
            
            .clear {
                margin-top: 20px;
            }
            
            .text {
                text-align: justify;
                padding-right: 10px;
            }
        }
        
        .pad {
            padding: 10px;
        }
    
        paper-button, paper-input {
            width: 100%;
        }
    }
}

.code {
    font-family: 'Monaco', monospace;
}
