
@import "variables";

$font-size-desktop: 8rem;
$font-size-mobile:  2rem;

#countdown {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

body.desktop {
    #countdown {
        margin-top: 0 - $font-size-desktop + $header_height;
        font: normal $font-size-desktop Monospace;
    }
}

body.mobile {
    #countdown {
        margin-top: 0 - $font-size-mobile - $header_height;
        font: normal $font-size-mobile Monospace;
    }
}
